HTML, BODY {
	font-family: Tahoma;
	font-size: 14px;
}
BODY {
	padding: 10px;
	padding-left: 20px;
}
H1 {
	font-size: 16px;
}
H1 > SPAN.plain {
	font-size: 14px;
	font-weight: normal;
}
#forkme {
    border: 0 none;
    position: absolute;
    right: 0;
    top: 0;
    background-image: url(forkme.png);
	width: 149px;
	height: 149px;
}
#loader-min, #output, #report {
	border: 1px solid #000000;
	padding: 10px;
	margin: 10px;
	font-family: Monaco;
	font-size: 9px;
}
#output.success {
	border: 5px solid #00FF00;
}
#output.fail {
	border: 5px solid #FF0000;
}
#error-alert {
	display: none;
	border: 5px solid #FF0000;
	color: red;
	background-color: #000000;
	font-weight: bold;
	font-size: 16px;
	padding: 5px;
	margin: 10px;
	padding-left: 10px;
}
#output > DIV {
	margin-bottom: 2px;
}
#output > DIV > DIV.from {
	display: inline-block;
	color: #6d6d6d;
	padding: 2px;
	padding-left: 10px;
	padding-right: 5px;
	float: right;
}
#output > DIV > DIV.message {
	padding: 2px;
	background-color: #ececec;
	padding-left: 5px;
	padding-right: 5px;
}
#report {
	display: inline-block;
}